.DeliveryNavbutton {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  height: 80px;
  display: flex;
  z-index: 1;
  margin-left: 105px;
}
.DeliveryBtn {
  width: 100px;
  height: 40px;
  margin: 6px;
  font-size: 14px;
  border-radius: 10px;
}
.Dropmenu {
  width: 500px;
  border: 1px solid rgb(207, 207, 207);
  color: rgb(156, 156, 156);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(54, 54, 54, 0.2) 0px 1px 2px;
  border-radius: 0.8rem;
  padding: 0.8rem;
}
button[id="CuisinesInerbtn2"] {
  width: 102px;
  margin-left: 20px;
}
button[id="CuisinesInerbtn"] {
  width: 100px;
  margin-left: 230px;
  background-color: #f8f8f8;
  color: black;
  border: none;
}
input[type="search"] {
  border: 1px solid #f8f8f8;
  outline: none;
}
.Search {
  color: silver;
}
@media screen and (max-width: 400px) {
  .DeliveryNavbutton {
    width: 100%;
    margin-top: 5px;
    height: 50px;
    margin-left: 4px;
  }

  .DeliveryBtn {
    width: 90px;
    height: 40px;
    margin: 6px;
    font-size: 10px;
  }
  .Dropmenu {
    width: 100px;
    margin-left: 200px;
    height: 220px;
    border-radius: 0.8rem;
    padding: 0.8rem;
  }
  button[id="CuisinesInerbtn2"] {
    margin-left: 20px;
    width: 55px;
    font-size: 10px;
    margin-left: 5px;
    height: 30px;
  }
  button[id="CuisinesInerbtn"] {
    width: 55px;
    font-size: 10px;
    margin-left: 5px;
    height: 30px;
  }
  input[type="search"] {
    width: 95px;
    font-size: 10px;
    margin-left: 5px;
    height: 30px;
    font-size: 10px;
  }
  .Roundslider {
    max-width: 360px !important;
    margin-top: 10px;
  }
  .Roundslide2 {
    max-width: 360px !important;
    margin-top: 10px;
  }
  .Roundsliderimg {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
      rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  }
  .CardTitle {
    text-align: center;
    margin-top: 5px;
    font-size: 8px;
  }
  .Carousel-Control-Next,
  .Carousel-Control-Prev {
    background-color: white;
    max-width: 2vh;
    max-height: 2vh;
    border-radius: 50%;
    margin-top: 1%;
  }
  .Carousel-Control-Next {
    margin-right: 35px !important;
  }
  .Carousel-Control-Prev {
    margin-left: 2px !important;
  }
  .Brandslider {
    margin-top: 40px !important;
  }
  .Deli3 {
    max-height: 72px !important;
  }

  .Maxsafetytext {
    font-size: 5px !important;
    margin-top: -12px;
  }
  .Delismall {
    font-size: 10px;
  }
  .Delilarge {
    font-size: 6px;
    width: 100px;
  }
  .Delimid {
    font-size: 7px;
  }
  .card {
    border: none;
    padding: none;
  }
  .CardTextimg {
    display: flex;
    justify-content: space-between;
    color: #838383;
    margin-top: 0px;
  }
  .Maxsafetytext {
    font-size: 5px !important;
    margin-top: -1px;
  }
  .Newstar {
    max-width: 30px;
    max-height: 16px;
    display: flex;
    justify-content: space-evenly;
    font-size: 9px !important;
    margin-left: 5px;
    padding-left: 2px !important;
  }
  .Delstar {
    font-size: 6px !important;
    margin-top: 4px !important;
  }
  .Cardelivery1 {
    max-height: 200px !important;
  }
  .Cardelivery2 {
    max-width: 320px;
    max-height: 160px;
  }
  .safety {
    max-height: 10px;
    max-width: 30px;
    margin-right: 20px;
    margin-top: -7px;
  }
  .Maxsafety {
    max-height: 10px;
    max-width: 22px;
    margin-right: 20px;
    margin-top: -7px;
  }
  .CardTextmenu {
    font-size: 5px !important;
    color: #838383;
    margin-top: -18px;
  }
  .BLUE1 {
    font-size: 5px !important;
  }
  .Delimginner {
    margin-top: 34px !important;
    color: white;
    background: #256fef;
    max-width: 40px;
    max-height: 10px;
    font-size: 5px !important;
  }
  .Delimginner1 {
    margin-top: 46px !important;
    color: white;
    background: #256fef;
    max-width: 40px;
    max-height: 10px;
    font-size: 5px !important;
  }
  /* .Deli3 {
    max-height: 228px !important;
  } */
  .Deli4 {
    max-height: 70px !important;
  }
  .Deli5 {
    max-height: 72px !important;
  }
  .Deli6 {
    height: 220px;
  }
  .CardTextkm {
    font-size: 7px !important;
    margin-top: -30px !important;
    padding-right: 20px;
  }
  .Card1 {
    border: none;
    padding: 4px !important;
  }
  .Deltextinner {
    font-size: 6px !important;
    margin-top: -5px !important;
  }
}
.Slide1 {
  display: flex;
}
.Roundslider {
  display: flex;
  justify-content: space-evenly;
  width: 1100px;
  margin-top: 10px;
}
.Roundslide2 {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin-top: 10px;
}
.Roundsliderimg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}
.CardTitle {
  text-align: center;
  margin-top: 5px;
}
.Carousel-Control-Next,
.Carousel-Control-Prev {
  background-color: white;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  top: 30%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}
.Carousel-Control-Next {
  margin-right: 210px;
}
.Carousel-Control-Prev {
  margin-left: -5px;
}
.Macdimg {
  margin-top: 1px;
  padding: 15px;
}
.Brandslider {
  margin-top: 50px;
}
.Maxsafety {
  height: 20px;
  width: 100px;
  margin-right: 20px;
}
.safety {
  height: 20px;
  width: 60px;
  margin-right: 20px;
  margin-top: -7px;
}
.Delivery {
  display: flex;
  justify-content: space-evenly;
  z-index: -1;
}
.Cardelivery1 {
  width: 320px;
  height: 400px;
}
.Cardelivery2 {
  width: 320px;
  height: 330px;
}
.Deli3 {
  height: 212px;
}
.Deli4 {
  height: 200px;
}
.Deli5 {
  height: 195px;
}
.Deli6 {
  height: 220px;
}
.Deli7 {
  height: 280px;
}
.Deli8 {
  height: 280px;
}
.CardTextmenu {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #838383;
  margin-top: -18px;
}
.CardTextmenu1 {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #838383;
  margin-top: -10px;
}

.CardTextkm {
  display: flex;
  justify-content: end;
  font-size: 15px;
  color: #838383;
  margin-top: -24px;
  padding-right: 20px;
}
.CardTextkm2 {
  display: flex;
  justify-content: end;
  font-size: 15px;
  color: #838383;
  margin-top: -10px !important;
  padding-right: 20px;
}

.CardTextimg {
  display: flex;
  justify-content: space-between;
  color: #838383;
  margin-top: 0px;
}
.Maxsafetytext {
  font-size: 12px;
  margin-top: -12px;
}
.Hrline {
  margin-top: -34px;
}
.Hrline1 {
  margin-top: -10px !important;
}

.Card1 {
  border: none;
  padding: 9px;
}

.Card1:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}
.Delimginner {
  margin-top: 150px;
  color: white;
  background: #256fef;
  width: 80px;
  height: 20px;
  font-size: 12px;
  margin-left: -7px;
  text-align: center;
}
.Delimginner1 {
  margin-top: 162px;
  color: white;
  background: #256fef;
  width: 80px;
  height: 20px;
  font-size: 12px;
  margin-left: -7px;
  text-align: center;
}

.Deltextinner {
  color: #256fef;
  font-size: 10px;
  background-color: transparent;
  font-weight: bold;
}

.BLUE1 {
  height: 20px;
  margin-top: -3px;
}
.Newstar {
  color: white;
  border: 1px solid #3ab757;
  background-color: #267e3e;
  border-radius: 6px;
  width: 50px;
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
}
.Delstar {
  font-size: 10px;
  margin-top: 6px;
  color: white;
}

/* @media screen and (max-width: 800px) {
  .Dinning {
    display: flex;
    flex-direction: row;
  }

  .Cardelivery1 {
    max-width: 120px;
    max-height: 180px;
  }
  .Cardelivery2 {
    width: 120px;
    height: 180px;
  }
  .CardBody2 {
    font-size: 6px;
  }
  .Btndinning {
    max-width: 60px;
    max-height: 20px;
    font-size: 5px;
  }
  .Titledinning {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  .Newstar {
    max-width: 30px;
    max-height: 16px;
    display: flex;
    justify-content: space-evenly;
    font-size: 9px !important;
    margin-left: 5px;
    padding-left: 2px !important;
  }
  .Delstar {
    font-size: 6px !important;
    margin-top: 4px !important;
  }




  .CardTextmenu {
    display: flex;
    justify-content: space-between;
    font-size: 6px !important;
    color: #838383;
    margin-top: -13px !important;
  }
  .CardTextkm {
    display: flex;
    justify-content:end;
    font-size: 6px !important;
    color: #838383;
  }
  .CardTextkm2 {
    display: flex;
    justify-content:end;
    font-size: 6px !important;
    color: #838383;
  }


  .Delimginner {
    margin-top: 38px !important;
    margin-left: -7px;
    color: #f4d9a8;
    font-size: 7px !important;
    max-width: 80px;
  }

  .Deltextinner {
    color: #256fef;
    font-size: 5px !important;
    margin-top: -10px !important;
  }
  .GOLD1 {
    max-height: 9px !important;
  }
  button[id="Sortbtn"] {
    margin-top: -40px !important;
    margin-left: 360px !important;
    position: absolute;
    max-width: 30px;
    max-height: 30px;
    font-size: 25px !important;
  }

  .Card2 {
    border: none;
    padding: 2px !important;
  }
} */
