.DeliveryNavbutton {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  height: 80px;
  display: flex;
  z-index: 1;
  margin-left: 105px;
}
.DeliveryBtn {
  width: 100px;
  height: 40px;
  margin: 6px;
  font-size: 14px;
  border-radius: 10px;
}
.Dropmenu {
  width: 500px;
  border: 1px solid rgb(207, 207, 207);
  color: rgb(156, 156, 156);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(54, 54, 54, 0.2) 0px 1px 2px;
  border-radius: 0.8rem;
  padding: 0.8rem;
}
button[id="CuisinesInerbtn2"] {
  width: 102px;
  margin-left: 20px;
}
button[id="CuisinesInerbtn"] {
  width: 100px;
  margin-left: 230px;
  background-color: #f8f8f8;
  color: black;
  border: none;
}
input[type="search"] {
  border: 1px solid #f8f8f8;
  outline: none;
}
.Search {
  color: silver;
}
@media screen and (max-width: 800px) {
  .DeliveryNavbutton {
    width: 200px;
    margin-top: 5px;
    height: 40px;
    margin-left: 4px;
  }
  .DeliveryBtn {
    width: 90px;
    height: 40px;
    margin: 6px;
    font-size: 10px;
  }
  .Dropmenu {
    width: 100px;
    margin-left: 200px;
    height: 220px;
    border-radius: 0.8rem;
    padding: 0.8rem;
  }
  button[id="CuisinesInerbtn2"] {
    margin-left: 20px;
    width: 55px;
    font-size: 10px;
    margin-left: 5px;
    height: 30px;
  }
  button[id="CuisinesInerbtn"] {
    width: 55px;
    font-size: 10px;
    margin-left: 5px;
    height: 30px;
  }
  input[type="search"] {
    width: 95px;
    font-size: 10px;
    margin-left: 5px;
    height: 30px;
    font-size: 10px;
  }
}
