.ImgOverlay {
  margin-top: 270px;
  color: white;
}

.NightoutImg {
  height: 350px;
}
.CardText2 {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #838383;
  margin-top: -18px;
}
.CardText4 {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #838383;
  margin-top: -24px;
}
.CardText3 {
  font-size: 15px;
  color: #838383;
  margin-top: -32px;
}
.Nightoutrestrau {
  display: flex;
  justify-content: space-evenly;
  z-index: -1;
}
.CarNightout1 {
  width: 320px;
  height: 360px;
}
.Titlenightout {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.Star {
  font-size: 10px;
  margin-top: 6px;
  color: #3ab757;
}
.Nightoutstar {
  color: #3ab757;
  border: 1px solid #3ab757;
  background-color: #ebffef;
  border-radius: 6px;
  width: 50px;
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
}
.Nightoutstar1 {
  background-color: #9c9c9c;
  color: white;
  border-radius: 6px;
  width: 40px;
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
}
.gryStar {
  font-size: 10px;
  margin-top: 8px;
  color: white;
}
.Engimg {
  height: 120px;
  width: 120px;
}
.Endsection {
  margin-top: 60px;
}
.Sresult {
  margin-top: 50px;
  text-align: right;
}
.Goldnightout {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  margin-top: 40px;
  height: 80px;
  display: flex;
  z-index: 1;
  justify-content: start;
}
.Goldbtnnout {
  width: 100px;
  height: 45px;
  font-size: 13px;
}
@media screen and (max-width: 400px) {
  .Nightoutstar {
    max-width: 30px;
    max-height: 16px;
    display: flex;
    justify-content: space-evenly;
    font-size: 9px !important;
    margin-left: 5px;
    padding-left: 2px !important;
  }
  .Nightoutstar1 {
    max-width: 30px;
    max-height: 16px;
    display: flex;
    justify-content: space-evenly;
    font-size: 9px !important;
    margin-left: 5px;
    padding-left: 2px !important;
  }
  .gryStar {
    font-size: 6px !important;
    margin-top: 4px !important;
  }
  .CarNightout1 {
    max-width: 120px;
    max-height: 180px;
  }
  .Sresult {
    margin-top: 50px;
    text-align: right;
    font-size: 15px;
  }
  .Core1 {
    max-height: 500px !important;
  }
}
